@use "./../../../style/variable.scss" as variable;

:host {
  @include variable.dialog-host;
}
.dialog {
  @include variable.dialog-wrapper;
}
.dialog-header {
  @include variable.dialog-header;
}
.dialog-content {
  @include variable.dialog-content;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem 0;
}
