<section class="dialog">
  <div class="dialog-header">
    <div>単語帳を読み込む</div>
    <button
      mat-icon-button
      color="primary"
      aria-label="Close"
      (click)="onClose()"
      cdkFocusInitial
    >
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </div>
  <div class="dialog-content">
    <div class="msg">・1つのシートから読み込めるのは3000行までです。</div>
    <div class="msg">・保存できる単語帳は20個までです。</div>
    <ng-container *ngIf="data.booksCount <= 21; else elseTemplate">
      <a
        href="https://cedar-impatiens-49c.notion.site/GoogleSpreadsheet-55b57e3196d9400aac97cda92b290a45"
        target="_blank"
        alt="詳しい方法を確認する"
        mat-raised-button
      >
        <mat-icon fontIcon="description"></mat-icon>
        詳しい方法を確認する
      </a>
      <button
        mat-raised-button
        color="primary"
        class="copy-button"
        (click)="onCopyAddress()"
      >
        <mat-icon fontIcon="content_copy" class="copy-icon"></mat-icon>
        Google スプレッドシートを共有するアカウントの<br />アドレスをコピーする
      </button>
      <section>
        <form [formGroup]="form" class="form">
          <mat-form-field appearance="fill">
            <mat-label>Google スプレッドシートのURL</mat-label>
            <input matInput formControlName="url" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>シート名</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </form>
        <button
          [disabled]="form.invalid"
          color="primary"
          (click)="onSubmit()"
          class="download-button"
          mat-raised-button
        >
          Google スプレッドシートを読み込む
        </button>
      </section>
    </ng-container>
    <ng-template #elseTemplate>
      容量がオーバーしています。単語帳を削除してください。
    </ng-template>
  </div>
</section>
