@use "./../../../style/variable.scss" as variable;

:host {
  @include variable.dialog-host;
}
.dialog {
  @include variable.dialog-wrapper;
}
.dialog-header {
  @include variable.dialog-header;
}
.dialog-content {
  @include variable.dialog-content;
}
.capacity-msg {
  padding-bottom: 1rem;
  &.near-over {
    color: red;
    font-weight: bold;
  }
  &.hidden {
    display: none;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.download-button {
  color: #fff;
}
