@use "./../../../style/variable.scss" as variable;

:host {
  @include variable.dialog-host;
}
.dialog {
  @include variable.dialog-wrapper;
}
.dialog-header {
  @include variable.dialog-header;
}
.dialog-content {
  @include variable.dialog-content;
}
.msg {
  padding-bottom: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.download-button {
  color: #fff;
}

.copy-button {
  height: fit-content;
  margin: 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .copy-icon {
    width: 1.4rem;
  }
}
