@use "./../../../style/variable.scss" as variable;

:host {
  @include variable.dialog-host;
}
.word-dialog {
  @include variable.dialog-wrapper;
}
.dialog-header {
  @include variable.dialog-header;
}
.updatedAt {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 1rem;
}
.title {
  margin-bottom: 0;
}
.dialog-content {
  @include variable.dialog-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.audio-form {
  width: 80%;
}
.resync {
  display: flex;
  flex-direction: column;
}
