.word {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  margin: 0 0.4rem 0.4rem 0;
}

.en {
  font-size: 1.2rem;
}
.pronunciation {
  font-size: 1rem;
  color: #aaa7a7;
}
