@use "./../../../../../style/color.scss" as color;

header {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}
.title {
  font-size: 1.4rem;
  font-weight: bold;
  color: color.$darker-color;
}
