.all-books {
  padding: 1rem;
  box-sizing: border-box;
}
.all-books-header {
  font-weight: bold;
  font-size: 1.2rem;
  color: #c689c6;
}
.books {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  justify-content: space-evenly;
  position: relative;
  cursor: pointer;
}
.book-link {
  text-decoration: none;
  color: inherit;
}
.book-title {
  font-weight: bolder;
  margin: 0;
}
