<section class="word-dialog">
  <div class="dialog-header">
    設定
    <button mat-icon-button (click)="onClose()" cdkFocusInitial>
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </div>
  <div class="dialog-content" mat-dialog-content>
    <section>
      <h2>対象のGoogleSheets</h2>
      <a
        mat-raised-button
        [href]="'https://docs.google.com/spreadsheets/d/' + data.sheetId"
        target="_blank"
        alt="Google Sheets"
        >このGoogleSheetsにアクセスする</a
      >
    </section>
    <section class="resync">
      <h2 class="title">単語帳の内容を再同期する</h2>
      <span class="updatedAt">(最終更新日: {{ data.updatedAt }})</span>
      <mat-form-field class="audio-form">
        <mat-label>シート名</mat-label>
        <input matInput [formControl]="sheetName" />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="onResync()"
        class="resync-button"
      >
        再同期する
      </button>
    </section>
    <section>
      <h2>単語帳を削除する</h2>
      <button mat-raised-button color="warn" (click)="onDelete()">
        {{ data.title }}を削除する
      </button>
    </section>
  </div>
</section>
