<section class="all-books">
  <h2 class="all-books-header">
    全ての単語帳
    <button
      class="import-book"
      mat-raised-button
      color="primary"
      (click)="onOpenDialog()"
    >
      インポート
    </button>
  </h2>

  <div class="books">
    <a
      class="book-link"
      *ngFor="let book of books"
      routerLink="/book/{{ book.id }}"
    >
      <mat-card class="book">
        <h3 class="book-title">{{ book.title }}</h3>
        <span class="book-sub">{{ book.count }}文</span>
      </mat-card></a
    >
  </div>
  <div
    class="not-exist"
    *ngIf="isInitLoaded && !isLoading && books.length === 0"
  >
    <div>
      <mat-icon class="not-exist-icon">mood</mat-icon>
    </div>
    <div class="not-exist-content">単語帳がありません。</div>
    <div class="not-exist-content">単語帳をインポートしてください。</div>
  </div>
  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</section>
