/* You can add global styles to this file, and also import other style files */
@use "./style/theme.scss";
@use "./style/color.scss" as color;
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// original
main {
  height: calc(100vh - 3rem);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: color.$bg-color;
}
@media (prefers-color-scheme: dark) {
  body {
    background: color.$bg-color;
    color: color.$darker-color;
  }
}
.cdk-global-overlay-wrapper {
  align-items: flex-end !important;
}

.warn-snackbar {
  color: #fff;
  background-color: #f44336;
}
