@use "./../../../style/color.scss" as color;
@use "./../../../style/variable.scss" as variable;

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-header {
  padding: 0.7rem 0.7rem 0.7rem 3.2rem;
  box-sizing: border-box;
}
.sub-header-content {
  margin-bottom: 0.5rem;
}
.sub-header-actions {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.chapters {
  padding: 0 1rem;
  grid-gap: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  justify-content: space-evenly;
  position: relative;
  margin-bottom: 2rem;
}
.chapter {
  text-decoration: none;
}
.chapter-title {
  margin: 0;
  font-weight: bold;
  color: color.$text-title-color;
}
.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.not-exist {
  @include variable.not-exist;
}
.not-exist-icon {
  @include variable.not-exist-icon;
}
.not-exist-content {
  @include variable.not-exist-content;
}
