<ng-container *ngIf="isLoading; else elseTemplate"> </ng-container>
<ng-template #elseTemplate>
  <ng-container *ngIf="isExist; else notExistTemplate">
    <div class="sub-header">
      <div class="sub-header-actions">
        <a
          class="all-play-button"
          mat-raised-button
          color="primary"
          routerLink="/book/{{ sheetId }}/{{ sheetName }}/sentense"
        >
          全再生
        </a>
        <button mat-raised-button (click)="openSettings()">設定</button>
      </div>
    </div>

    <div class="chapters">
      <a
        class="chapter-wrapper"
        routerLink="/book/{{ sheetId }}/{{ sheetName }}/sentense"
        [queryParams]="{ section: section.id }"
        *ngFor="let section of book?.section"
      >
        <mat-card class="chapter">
          <h3 class="chapter-title">{{ section.id }}</h3>
          <span class="chapter-sub">{{ section.count }}文</span>
          <div class="action-buttons"></div>
        </mat-card>
      </a>
    </div>
  </ng-container>
  <ng-template #notExistTemplate>
    <section class="not-exist">
      <div>
        <mat-icon
          class="not-exist-icon"
          fontIcon="sentiment_very_dissatisfied"
        ></mat-icon>
      </div>
      <div class="not-exist-content">この単語帳は存在しません</div>
    </section>
  </ng-template>
</ng-template>
