<div
  class="sub-header"
  [ngStyle]="{
    'background-color': book?.bgColor,
    color: book?.color || '#937DC2'
  }"
>
  <div class="sub-header-actions">
    <a
      mat-raised-button
      routerLink="/book/{{ book?.id }}/sentense"
      [ngStyle]="{
        'background-color': book?.color || '#937DC2',
        color: book?.bgColor,
        'font-weight': 'bold'
      }"
    >
      全再生
    </a>
  </div>
</div>

<div class="chapters">
  <a
    class="chapter"
    routerLink="/book/{{ book?.id }}/sentense"
    [queryParams]="{ section: section.id }"
    *ngFor="let section of book?.section"
  >
    <mat-card>
      <h3 class="chapter-title">{{ section.id }}</h3>
      <span class="chapter-sub">{{ section.count }}文</span>
      <div class="action-buttons"></div>
    </mat-card>
  </a>
</div>
