<ng-container *ngIf="isBookExist; else elseTemplate">
  <section class="content">
    <div class="cards">
      <app-card
        *ngIf="activeSentenseNumber + 1 !== sentenses.length"
        [sentense]="sentenses[activeSentenseNumber + 1]"
        [setting]="setting"
        [active]="false"
        [isOpeningDialog]="isOpeningDialog"
      ></app-card>

      <div
        *ngIf="activeSentenseNumber + 1 === sentenses.length"
        class="card-finish"
      >
        終了
      </div>

      <app-card
        [sentense]="sentenses[activeSentenseNumber]"
        [setting]="setting"
        [active]="true"
        [isLast]="sentenses.length === activeSentenseNumber + 1"
        [isOpeningDialog]="isOpeningDialog"
        (swipeEvent)="onSwipe()"
      ></app-card>
    </div>

    <mat-card class="action-buttons">
      <button mat-mini-fab (click)="onOpenSetting()">
        <mat-icon fontIcon="settings"></mat-icon>
      </button>

      <button
        style="transform: scale(1.2)"
        mat-fab
        color="primary"
        aria-label="Play"
        (click)="onPlay()"
      >
        <mat-icon
          style="transform: scale(1.6)"
          fontIcon="play_arrow"
        ></mat-icon>
      </button>

      <div class="action-buttons-item">
        <button mat-mini-fab aria-label="編集" (click)="onOpenEditor()">
          <mat-icon fontIcon="edit"></mat-icon>
        </button>
      </div>
    </mat-card>
  </section>
</ng-container>
<ng-template #elseTemplate>
  <section class="not-exist">
    <div>
      <mat-icon class="not-exist-icon">sentiment_very_dissatisfied</mat-icon>
    </div>
    <div class="not-exist-content">この単語帳は存在しません</div>
  </section>
</ng-template>
