@use "./../../../style/variable.scss" as variable;

.content {
  display: grid;
  row-gap: 0.6rem;
  grid-template-rows: 1fr 8rem;
  height: 100%;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: inherit;
  padding: 0 16px;
}

.not-exist {
  @include variable.not-exist;
}
.not-exist-icon {
  @include variable.not-exist-icon;
}
.not-exist-content {
  @include variable.not-exist-content;
}

.cards {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card-finish {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 1rem);
  font-weight: bold;
  font-size: 2rem;
  color: gray;
  width: 100%;
  position: absolute;
}
