@use "./../../../style/variable.scss" as variable;

.content {
  display: grid;
  row-gap: 0.6rem;
  grid-template-rows: 1fr 8rem;
  height: 100%;
}
swiper-container {
  width: 100%;
  height: 100%;
}
swiper-slide {
  overflow: hidden;
}
.card-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.word-viewer {
  height: calc(100% - 1rem);
  margin: 0 1rem;
  overflow: hidden;
  display: grid;
  row-gap: 1.2rem;
  grid-template-rows: repeat(3, 1fr);
  padding: 8px;
}
.hide-target {
  position: relative;
  .hide-target-text {
    margin: 1rem 0;
  }
  .hide {
    font-size: 1.2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0rem;
    left: 0;
    right: 0;
    background-color: lightgray;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
}

.note {
  border: 0.125rem solid #edeff4;
  border-radius: 0.5rem;
  padding: 0.6rem;
  word-break: keep-all;
}
.note-title {
  color: lightgray;
  font-weight: bold;
  height: 1rem;
}
.note-body {
  word-break: break-word;
  white-space: pre-wrap;
  max-height: calc(100% - 1rem);
  height: calc(100% - 1rem);
  overflow-y: scroll;
}

.action-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: inherit;
  padding: 0 16px;
}

.slider {
  position: absolute;
  top: -24px;
  left: 1rem;
  width: 97vw;
}
.action-buttons-item {
  button {
    margin: 0 0.3rem;
  }
}
.not-exist {
  @include variable.not-exist;
}
.not-exist-icon {
  @include variable.not-exist-icon;
}
.not-exist-content {
  @include variable.not-exist-content;
}
