<ng-container *ngIf="isBookExist; else elseTemplate">
  <section class="content">
    <ng-container *ngIf="isLoaded">
      <swiper-container
        navigation="true"
        space-between="50"
        slides-per-view="1"
        keyboard="true"
        class="swiper-container"
        init="false"
        virtual="true"
        grabCursor="true"
        effect="creative"
        [creativeEffect]="{
          prev: {
            shadow: true,
            translate: [0, 0, -400]
          },
          next: {
            translate: ['100%', 0, 0]
          }
        }"
      >
        <swiper-slide *ngFor="let sentense of sentenses; index as i">
          <mat-card class="word-viewer">
            <div class="card-content">
              <ng-container
                *ngIf="setting?.order === viewerOrder.JAEN; else JAEN_EN"
              >
                {{ sentense.ja }}
              </ng-container>
              <ng-template #JAEN_EN>
                <app-en-sentense
                  [sentense]="sentense.en"
                  [pronunciation]="sentense.pronunciation"
                  (wordClick)="onClickWord($event)"
                ></app-en-sentense>
              </ng-template>
            </div>
            <div class="card-content hide-target">
              <div class="hide-target-text">
                <ng-container
                  *ngIf="setting?.order === viewerOrder.JAEN; else JAEN_JA"
                >
                  <app-en-sentense
                    [sentense]="sentense.en"
                    [pronunciation]="sentense.pronunciation"
                    (wordClick)="onClickWord($event)"
                  ></app-en-sentense>
                </ng-container>
                <ng-template #JAEN_JA>
                  {{ sentense.ja }}
                </ng-template>
              </div>
              <div
                class="hide"
                *ngIf="isSecondSentenseHide && setting?.secondLangIsHide"
                (click)="onClickHide()"
              >
                🫣 Check Answer!!🫣
              </div>
            </div>
            <div class="card-content note" *ngIf="sentense.note">
              <div class="note-title">NOTE</div>
              <div class="note-body">
                {{ sentense.note }}
              </div>
            </div>
          </mat-card>
        </swiper-slide>
      </swiper-container>
      <mat-card class="action-buttons">
        <mat-slider
          discrete
          class="slider"
          min="0"
          [max]="sentenses.length - 1"
          step="1"
        >
          <input
            matSliderThumb
            [(ngModel)]="activeSentenseNumber"
            (valueChange)="onChangeActivevNumberFromBar($event)"
          />
        </mat-slider>
        <button mat-mini-fab (click)="onOpenSetting()">
          <mat-icon fontIcon="settings"></mat-icon>
        </button>

        <div class="action-buttons-item">
          <button mat-mini-fab aria-label="Slowly play" (click)="onPlay(0.7)">
            <mat-icon fontIcon="slow_motion_video"></mat-icon>
          </button>
          <button mat-fab color="primary" aria-label="Play" (click)="onPlay(1)">
            <mat-icon
              style="transform: scale(1.6)"
              fontIcon="play_arrow"
            ></mat-icon>
          </button>
        </div>

        <div class="action-buttons-item">
          <button mat-mini-fab aria-label="編集" (click)="edit()">
            <mat-icon fontIcon="edit"></mat-icon>
          </button>
        </div>
      </mat-card>
    </ng-container>
  </section>
</ng-container>
<ng-template #elseTemplate>
  <section class="not-exist">
    <div>
      <mat-icon class="not-exist-icon">sentiment_very_dissatisfied</mat-icon>
    </div>
    <div class="not-exist-content">この単語帳は存在しません</div>
  </section>
</ng-template>
