@use "./../../../style/color.scss" as color;
.top {
  padding: 1rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}
.top-title {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 1rem 0;
}
.top-sub {
  font-size: 0.8rem;
  line-height: 1rem;
  padding-bottom: 0.5rem;
}
.top-actions {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tutorial {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 2rem;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4rem;
  height: 4rem;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  color: color.$text-title-color;
}
.fotter {
  height: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
