<section class="top">
  <div class="top-title">好きな文章で英語の勉強をしよう</div>
  <div class="top-sub">
    Google
    Sheetsにまとめた英単語帳の内容をインポートして英語を勉強することができます。
  </div>
  <div class="top-actions">
    <button mat-raised-button color="primary" (click)="onOpenDialog()">
      <mat-icon fontIcon="system_update"></mat-icon>Google Sheetsをインポート
    </button>
    <a
      href="https://cedar-impatiens-49c.notion.site/Moment-9d9e6093566a4f02a78004ac048b27b5"
      target="_blank"
      alt="ドキュメントを見る"
      mat-raised-button
    >
      <mat-icon fontIcon="description"></mat-icon>
      ドキュメントを見る
    </a>
  </div>
</section>
<section class="tutorial">
  <mat-card class="card">
    <div class="card-title">①Google Sheetsで英文をまとめる</div>
    <img
      class="card-icon"
      src="assets/tutorial/edit.png"
      alt="Google Sheetsを作成する"
    />
  </mat-card>
  <mat-card class="card">
    <div class="card-title">②MomentにGoogle Sheetsをインポートする</div>
    <img
      class="card-icon"
      src="assets/tutorial/download.png"
      alt="MomentにGoogle Sheetsをインポートする"
    />
  </mat-card>
  <mat-card class="card">
    <div class="card-title">③Momentで英文を確認する</div>
    <img
      class="card-icon"
      src="assets/tutorial/smph.png"
      alt="Momentで英文を確認する"
    />
  </mat-card>
</section>
<section class="fotter">
  <a
    href="https://docs.google.com/forms/d/16Q8LlY_gQOyZyKbb6y4hdZwuk1Qs0U658vTKjgI-Lzs"
    target="_blank"
    mat-raised-button
    color="accent"
    >お問合せ <mat-icon fontIcon="open_in_new"></mat-icon
  ></a>
</section>
