@use "./../../../style/variable.scss" as variable;

:host {
  @include variable.dialog-host;
}
.dialog-wrapper {
  @include variable.dialog-wrapper;
}
.dialog-header {
  @include variable.dialog-header;
}
.dialog-content {
  @include variable.dialog-content;
}

.setting-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.action-buttons {
  margin: 1rem 0;
  display: flex;
  gap: 2rem;
  .action-button {
    color: #fff;
    text-decoration: none;
  }
}
