:host {
  display: block;
  background: #fff;
  border-radius: 8px 8px 0 0;
  padding: 8px 16px 16px;
  width: 100vw;
  height: 80vh;
  box-sizing: border-box;
  animation: 800ms ease-in-out 0ms 1 normal none running dialog-enter;
}

@keyframes dialog-enter {
  from {
    transform: translateY(200vh);
    opacity: 0;
  }
  to {
    transform: translateY(0vh);
    opacity: 1;
  }
}
.word-dialog {
  height: 100%;
}
.dialog-header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: bold;
}
.dialog-content {
  height: calc(100% - 5rem);
  overflow-y: scroll;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem 0;
}
